<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Eventos</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <meta name="theme-color" content="#7952b3">

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>

        <!-- Custom styles for this template -->
        <link href="/static/assets/css/sticky-footer-navbar.css"
            rel="stylesheet">
    </head>

    <body class="d-flex flex-column h-100">
        {% include 'includes/navigation.html' %}
        <main class="flex-shrink-0">
            <div class="container">
                <h1 class="mt-5">Eventos</h1>
                <p></p>
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Local / Link</th>
                            <th scope="col">Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evento in eventos %}<tr>
                                <th scope="row"><a href="{% url 'exibir_evento' evento.uuid %}">{{ evento.nome }}</a></th>
                                <td>{{ evento.categoria.nome }}</td>
                                {% if evento.local %}<td>{{ evento.local }}</td>{% elif evento.link %}<td><a href="{{ evento.link }}">{{ evento.link }}</a></td>{% endif %}
                                {% if evento.data %}<td>{{ evento.data | date:"d F, Y" }}</td>{% else %}<td>A definir..</td>{% endif %}
                            </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        {% include 'includes/footer.html' %}
        {% include 'includes/scripts.html' %}
    </body>

</html>